<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalprojectapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Main.ShareFileActivity"></activity>
        <activity
            android:name=".Activities.Main.SearchUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Main.ChatMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.Main.FriendListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Main.FriendRequestActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.Main.FileViewerActivity" />
        <activity
            android:name=".Activities.Main.InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Main.UploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Main.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>